<script setup>
import {computed, ref} from "vue";
import {socialMedias} from "@/components/authentication/utils.ts";
import {
    fakeBackendService,
    firebaseService
} from "@/app/service/httpService/httpServiceProvider.ts";
import appConfigs from "@/app/appConfig.ts";
import {useRouter} from "vue-router";

const router = useRouter();
const auth = appConfigs.auth;

const modernLoginType = ref("emailLogin");

const form = ref({
    email: {value: "admin", isValid: true},
    password: {value: "123456", isValid: true},
});

const isSubmitted = ref(false);
const isSucceed = ref(false);
const errorMsg = ref("");

const isValidForm = computed(() => {
    const {email, password} = form.value;
    return email.isValid && password.isValid;
});

const onSignIn = async () => {
    isSubmitted.value = true;
    errorMsg.value = "";
    if (isValidForm.value) {
        try {
            const {password, email} = form.value;
            const payload = {
                password: password.value,
                email: email.value,
            };

            if (auth === "fakebackend") {
                const data = await fakeBackendService.login(payload);
                if (data) {
                    isSucceed.value = true;
                    router.push({path: "/"});
                }
            } else if (auth === "firebase") {
                await firebaseService.loginUser({
                    ...payload,
                    email: payload.email
                });
            }
        } catch (error) {
            errorMsg.value = error.message;
        }
    }
};
</script>
<template>
    <div class="text-center">
        <h4 class="mb-1 text-custom-500 dark:text-custom-500">Bem vindo de volta!</h4>
        <p class="text-slate-500 dark:text-zink-200">
            Faça o Login para Continuar
        </p>
    </div>

    <div class="mt-10">
        <div>
            <TValidationInputField
                v-if="modernLoginType === 'emailLogin'"
                v-model="form.email"
                label="E-mail"
                :rules="['required']"
                :submit="isSubmitted"
                placeholder="E-mail"
            />
            <TValidationInputField
                v-model="form.password"
                label="Senha"
                type="password"
                :rules="['required']"
                :submit="isSubmitted"
                placeholder="Senha"
            />
        </div>
        <div class="mt-10">
            <TButton class="w-full" @click="onSignIn"> Sign In</TButton>
        </div>
        <div
            class="relative text-center my-9 before:absolute before:top-3 before:left-0 before:right-0 before:border-t before:border-t-slate-200 dark:before:border-t-zink-500"
        >
            <h5
                class="inline-block px-2 py-0.5 text-sm bg-white text-slate-500 dark:bg-zink-600 dark:text-zink-200 rounded relative"
            >
                Sign In with
            </h5>
        </div>

        <div class="flex flex-wrap justify-center gap-2">
            <TButton
                v-for="(item, index) in socialMedias"
                :key="'login-social-media-' + index"
                icon
                variant="soft"
                class="p-0"
                :color="item.color"
            >
                <component :is="item.icon" class="size-4"/>
            </TButton>
        </div>

        <div class="mt-10 text-center">
            <p class="mb-0 text-slate-500 dark:text-zink-200">
                Don't have an account ?
                <router-link
                    to="#"
                    class="font-semibold underline transition-all duration-150 ease-linear text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500"
                >
                    SignUp
                </router-link>
            </p>
        </div>
    </div>
</template>
